html,body {
	margin: 0;
	width: 100%;
	height: 100%;
}

/* .cube {
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
} */

.choose {
	width: 900px;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	/* position: absolute;
	z-index: 3;
	left: calc(50% - 450px);
	bottom: calc(50% - 450px); */
}

.btn {
	display: inline-block;
	width: 100px;
	height: 40px;
	font-size: 20px;
	color: #999;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	line-height: 40px;
}

/* 上下旋转 */
#front:checked ~ .cube{
	transform: rotate3d(0,0,0,0deg);
}

#back:checked ~ .cube{
	transform: rotate3d(0,1,0,180deg);
}

#front:checked ~ .choose [for="front"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}
#back:checked ~ .choose [for="back"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}

/* 左右旋转 */
#left:checked ~ .cube{
	transform: rotate3d(0,1,0,90deg);
}

#right:checked ~ .cube{
	transform: rotate3d(0,1,0,-90deg);
}

#left:checked ~ .choose [for="left"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}
#right:checked ~ .choose [for="right"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}

/* 上下旋转 */
#top:checked ~ .cube{
	transform: rotate3d(1,0,0,90deg);
}

#bottom:checked ~ .cube{
	transform: rotate3d(1,0,0,-90deg);
}

#top:checked ~ .choose [for="top"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}
#bottom:checked ~ .choose [for="bottom"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}

/* 
transform:scale(放大的倍数) 
 */
#big:checked ~ .cube{
	transform: scale(2) rotate3d(1,0,0,90deg);
}

#small:checked ~ .cube{
	transform: scale(0.5) rotate3d(1,0,0,-90deg);
}

/* #big:checked ~ .cube{
	transform: translateZ(500px) rotate3d(1,0,0,90deg);
}

#small:checked ~ .cube{
	transform: translateZ(-500px) rotate3d(1,0,0,-90deg);
} */

#big:checked ~ .choose [for="big"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}
#small:checked ~ .choose [for="small"]{
	background: #ccc;
	color: #fff;
	box-shadow: 0 0 30px #999999;
}

